<div id="container">
Welcome <span id="player1"><%= @player1.email %></span> & <span id="player2"><%= @player2.email %>
<br> You are playing for $<%= (@the_pot/100) %> USD. </span>

<table class="racer_table">
  <tr id="player1_strip">
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr id="player2_strip">
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
</div>