<div id="container">
Welcome <span id="player1"><%= @player1.email %></span> & <span id="player2"><%= @player2.email %> </span>
<br> You are playing for $<span id="the_pot"><%= (@the_pot/100) %> </span>USD.

<table class="racer_table">
  <tr id="player1_strip">
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr id="player2_strip">
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
</div>
