<div class="container">
    <form action="/create" method="post">
    <label for="usercreate">
    Name:<br/>
    <input id="usercreate" type="text" name="user[name]" placeholder="As on your creditcard">
  </label>
  <br/>
  <label for="usercardnumber">
    Card Number<br/>
    <input id="usercardnumber" type="text" name="user[cardnumber]" placeholder="number">
  </label>
  <label for="usercardcvc">
    Card CVC<br/>
    <input id="usercardcvc" type="text" name="user[cvc]" placeholder="CVC number">
  </label>
  <label for="usercardmonth">
    Experation Month<br/>
    <input id="usercardmoth" type="text" name="user[cardmonth]" placeholder="Exp Month">
  </label>
  <label for="usercardyear">
    Experation Year<br/>
    <input id="usercardyear" type="text" name="user[cardyear]" placeholder="Exp year">
  </label>
  <input type="submit" value="Let's race" >
  </form>

  </form>
  </div>