<div class="container">
  <h1>Hi, <%= @email %>!</h1>
  <br>
  <h2>Your balance is $<%= @balance %> USD.</h2>
  <br>
  <br>
  <a href="/"> Back to the login page.</a>
</div>


<!-- NOT FINISHED< NOT IN USE. -->